[alias]
  b = branch --show-current
  bs = for-each-ref --sort=committerdate refs/heads/ --format='%(refname:short) %(committerdate:relative)'
  xx = clean -dxf
  st = status --ignore-submodules=dirty
  ci = commit -v
  di = !sh -c 'git diff -b --ignore-submodules=dirty'
  review = !sh -c 'git diff -b $(git merge-base $(git rev-parse --abbrev-ref HEAD) $0)'
  rb = !sh -c 'git diff -b $0...$1 | delta --side-by-side'
  dw = diff --color-words
  co = checkout
  l  = log --graph --pretty=format:'%C(green)%h %C(yellow)%an %C(reset)%s'
  le  = log --graph --pretty=format:'%h, %an, %ar:%n%Cgreen %s %Creset'
  rel = shortlog --no-merges origin/stable..
  rba = !sh -c 'git rebase -i $(git merge-base $(git rev-parse --abbrev-ref HEAD) $0)'
  commend = commit --amend --no-edit

[user]
  email = andreas.hasselberg@gmail.com
  name = Andreas Hasselberg

[color]
  branch = auto
  diff = auto
  interactive = auto
  pager = true
  status = auto
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  whitespace = red reverse
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[difftool]
  prompt = false

[push]
  default = simple

[core]
  editor = "emacs"
  hooksPath = /Users/andreas/build/bin

[github]
  user = andreashasse
[sequence]
	editor = interactive-rebase-tool
[init]
	defaultBranch = main
